body{
    .logo{
        width: 10%;
    }
    .offerte{
        background-color: rgb(93,182,190);
        width: 100%;
        padding: 20vh;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        .column{
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
            img{
                margin-top: 8px;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}