body header #headerpic h1 {
  background-color: rgba(218, 84, 84, 0);
  color: white;
}

body .whoAreWe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3c4b4;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

body .whoAreWe .aboutTitle {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vh;
}

body .whoAreWe .aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

body .whoAreWe .cardSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 6vh;
  padding-top: 1vh;
}

body .whoAreWe .cardSpace .personCard {
  -webkit-box-shadow: 1px 1px 4px 4px rgba(218, 84, 85, 0.2);
          box-shadow: 1px 1px 4px 4px rgba(218, 84, 85, 0.2);
  padding-top: 0px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
}

body .whoAreWe .cardSpace .personCard img {
  width: 20vw;
}

body .whoAreWe .cardSpace .personCard p {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

body .whoAreWe .cardSpace .personCard p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  body .whoAreWe .aboutText {
    width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
  body .whoAreWe .cardSpace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  body .whoAreWe .cardSpace .personCard {
    width: 50vw;
    margin-bottom: 8vh;
  }
  body .whoAreWe .cardSpace .personCard img {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  body .whoAreWe .aboutText {
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
  body .whoAreWe .cardSpace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  body .whoAreWe .cardSpace .personCard {
    width: 90vw;
    margin-bottom: 8vh;
  }
  body .whoAreWe .cardSpace .personCard img {
    width: 90vw;
  }
}

body .row {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2vh 4px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #5db6be;
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}

body .row .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

body .row .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  body .row .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
  body .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  body .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}
/*# sourceMappingURL=AboutUs.css.map */