body header #headerpic h1 {
  background-color: rgba(218, 84, 84, 0);
  color: white;
}
body .whoAreWe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(243, 196, 180);
  padding-top: 3vh;
  padding-bottom: 3vh;
}
body .whoAreWe .aboutTitle {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
body .whoAreWe .aboutText {
  display: flex;
  width: 30vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}
body .whoAreWe .cardSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 6vh;
  padding-top: 1vh;
}
body .whoAreWe .cardSpace .personCard {
  box-shadow: 1px 1px 4px 5px rgba(218, 84, 85, 0.2);
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
body .whoAreWe .cardSpace .personCard img {
  width: 20vw;
}
body .whoAreWe .cardSpace .personCard p {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}
body .whoAreWe .cardSpace .personCard p span {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}
@media screen and (max-width: 800px) {
  body .whoAreWe .aboutText {
    width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
  body .whoAreWe .cardSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  body .whoAreWe .cardSpace .personCard {
    width: 50vw;
    margin-bottom: 8vh;
  }
  body .whoAreWe .cardSpace .personCard img {
    width: 50vw;
  }
}
@media screen and (max-width: 600px) {
  body .whoAreWe .aboutText {
    width: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
  body .whoAreWe .cardSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  body .whoAreWe .cardSpace .personCard {
    width: 90vw;
    margin-bottom: 8vh;
  }
  body .whoAreWe .cardSpace .personCard img {
    width: 90vw;
  }
}
body .row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 4px;
  justify-content: space-evenly;
  background-color: rgb(93, 182, 190);
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}
body .row .column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}
body .row .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  body .row .column {
    flex: 50%;
    max-width: 50%;
  }
  body .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body .row .column {
    flex: 100%;
    max-width: 100%;
  }
  body .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}/*# sourceMappingURL=AboutUs.css.map */