body {
  margin: 0;
  padding: 0;
}

body .carousel {
  width: 100vw;
  height: 200px;
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

@-webkit-keyframes display {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
}

@keyframes display {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
}
body .carousel .pic {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  -webkit-animation: display 10s infinite;
          animation: display 10s infinite;
}
body .carousel .pic .pic:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
body .carousel .pic .pic:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
body .carousel .pic .pic:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
body .carousel .pic .pic:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2vh;
}

footer .footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20vw;
}

footer .footerTop .iconen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerTop .iconen a {
  text-decoration: none;
  color: black;
}

footer .footerTop .iconen a img {
  width: 30px;
  padding-left: 2vw;
}

footer .footerTop #book-us {
  text-decoration: none;
  color: black;
  margin-left: 20vw;
}

footer .footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20vw;
}

footer .footerBottom a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  footer .footerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  footer .footerTop .iconen a {
    text-decoration: none;
    color: black;
  }
  footer .footerTop .iconen a img {
    width: 30px;
  }
  footer #book-us {
    margin-left: auto;
    margin-right: auto;
  }
  footer .footerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    word-break: normal;
  }
  footer .footerBottom p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  footer .footerBottom p a {
    text-decoration: none;
    color: black;
  }
}
/*# sourceMappingURL=BookUs.css.map */
