body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    
    .getInContact{
        background-color: rgb(93,182,190);
        display: flex;
        flex-direction: row;
        .knowMore{
            width: 50vw;
        }
        .contactInfo{
            display: flex;
            flex-direction: column;
            img{
                width: 20%;
            }
        }
    }
}