body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    
    .getInContact{
        background-color: rgb(93,182,190);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 3vh;
        padding-bottom: 3vh;
        
        .knowMore{
            
            width: 40vw;
        }
        .contactInfoBlock{
            display: flex;
            flex-direction: column;
           
            width: 40vw;
            .contactInfo{
                display: flex;
                flex-direction: row;
                
                .icons{
                    width: 5vw;
                    height:fit-content;
                    margin-right: 15px;
                    align-self: center;
                    
                }
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
    }
}