body{
    header{
        #headerpic{
            background-image: url(../Assets/foodpic.jpeg);
            h1{
                background-color: rgba(219, 214, 212, 0);
                color: white;
                width: 90%;
                margin-right: 3%;
                text-align: right;
            }
            img{
                margin-left: 90%;
            }
        
        }
    
        p{
            width: 40%;
            text-align: right;
            margin-left: 57%;
            padding-right: 3%;
            font-weight: 300;
            font-size: 1.3em;
            font-weight: 500;
            text-transform: uppercase;
        }

    
}  
    section{
        display: grid;
        padding-top: 10%;
        padding-bottom: 5%;
        height: 800px;    
        h2{
            margin-top: 0;
            margin-bottom: 2%;
            display: inline;
            padding-bottom: 0;

            width: 100%;
            border: none;
        }
        .grid{
            display: inline-grid;
            grid-template-columns: auto auto auto auto;
            column-gap: 40px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 2%;

        }
        .card{
            margin-top: 0%;
            background-color: white;
            height: 700px;
            width: 90%;
            
            img{
                width: 100%;
                margin-bottom: 6%;
            }
            h2{
                padding-top: 4%;
                text-align: left;
                padding-left: 10%;
                font-size: 1.4em;
                width: 100%;
                border: none;
                color: black;
            }
            p{
                margin-top: 4%;
                text-align: left;
                font-weight: 300;
            }
            .prizes{
                margin-top: 6%;
                p{
                    margin-top: 2%;
                    font-style: italic;
                }

            }  
        }
    }
    @media screen and (max-width:800px) {
        section{
            height: 1500px;
            padding-top: 20%;
            h2{
                padding-top: 18%;
            }
            .grid{
                width: 95%;
                margin-left: 2%;
                margin-right: 2%;
                column-gap: 20px;
                grid-template-columns: auto auto;
            .card{
                height: 650px;
                padding-bottom: 2%;
                margin-top: 2%;
            }
            }
        }
    }
    @media screen and (max-width:600px) {
    header{
        #headerpic{
            h1{
                color:black;
                width: 100%;
                text-align: center;
            }
            p{
                margin-left: auto;
                margin-right: auto;
            }
            img{
                margin-left: auto;
                margin-right: auto;
            }
        }
        }  
        section{
            h2{
                padding-top:28%;
            }
            .grid{
                margin-left: 2%;
                margin-right: 2%;
                column-gap: 10px;

            }
        }      
    }
}