body{
    margin:0;
    font-family: Roboto, sans-serif;
    header{
        width: 100%;
        .flex{
            display: flex;
        }
        img{
            width: 8%;
            margin-right: 10%;
        }
        nav{
            height: 40px;
            width: 80%;
            margin-left: 7%;
            padding-top: 4%;
            a{
                text-decoration: none;
                color: black;
                margin-left: 1%;
                padding: 2%;
                font-size: 1.3em;

            }
            a:hover{
                background-color: rgb(218,84,85);
                color: white;
                
                border-radius: 10%;
                
            }
            .icons{
                float: right;
                width: 10%;
                img{
                    width: 30%;
                    padding: 0;
                    margin: 0;
                    margin-left: 0.5%;
                }
        }

    }
    h1{
        color: black;
        padding-top: 16%;
        font-size: 4em;
        text-align: right;
        margin-right: 8%;
        width: 100%;
    }
    p{
        width: 40%;
        text-align: right;
        margin-left: 57%;
        padding-right: 3%;;
    }

    #headerpic{
        background-image: url(../Assets/foodpic.jpeg);
        min-height: 700px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            color: black;
            padding-top: 16%;
            text-align: right;
        }
    }

}    
    section{
        img{
            width: 45%;
        }
        h2{
        margin-left: 10%;       
        }
        p{
            width: 70%;
            margin-left: 10%;
        }
        display: flex;
    }
}