body{
    header{
        #headerpic{
            background-image: url(../Assets/foodpic.jpeg);
            h1{
                background-color: rgba(219, 214, 212, 0);
                color: white;
                width: 90%;
                margin-right: 3%;
                text-align: right;
            }
            .arrow{
            display: inline;
            float: right;
            margin-right: 4%;
            margin-left: none;
            }
        
        }
    
        p{
            width: 40%;
            text-align: right;
            margin-left: 57%;
            padding-right: 3%;;
        }
    
}  
    section{
        img{
            width: 45%;
        }
        h2{
        margin-left: 10%;       
        }
        p{
            width: 70%;
            margin-left: 10%;
        }
        display: flex;
    }
}