body{
        scroll-behavior: smooth;
        margin:0;
        font-family: Roboto, sans-serif;
        header{
            width: 100%;
            .flex{
                display: flex;
            }
            img{
                width: 35%;
                margin-right: 10%;
            }
            nav{
                width: 80%;
                margin-left: 7%;
                padding-top: 4%;
                a{
                    text-decoration: none;
                    color: black;
                    margin-left: 1%;
                    padding: 2%;
                    font-size: 1.3em;

                }
                a:hover{
                    background-color: rgb(218,84,85);
                    color: white;
                    border-radius: 10%;
                    
                }
                .icons{
                    float: right;
                    width: 10%;
                    img{
                        width: 30%;
                        padding: 0;
                        margin: 0;
                        margin-left: 0.5%;
                    }
            }

        }
        h1{
            color: white;
            font-weight: 600;
            background-color: rgba(219, 214, 212, 0.569);
            font-size: 4em;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            width: 40%;
        }
        #headerpic{
            padding-top: 15%;

            background-image: url(../Assets/foodtruck.jpeg);
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            img{
                width: 5%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }

    }
        section{
            background-color: rgb(243,196,180);
            height: 600px;
            margin-top:0;
            padding-top: 2%;
            h2{
                margin-top: 15%;
                color: white;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
                border-bottom: 1px solid;
                text-align: center;
                font-size: 2.4em;
            }
            p{
                width: 75%;
                padding-top: 2%;
                margin: 0 auto;
                text-align: center;
            }
        }
        /*footer{
            padding-top: 1%;
            color: rgba(115, 22, 41, 0.707);
            background-color: white;
            ul{
                margin-left: auto;
                margin-right: auto;
                width: 55%;
                li{
                    list-style: none;
                    margin-left: 10%;
                    display: inline;
                }
            }
            div{
                margin-left: auto;
                margin-right: auto;
                width: 14%;
                img{
                width: 20%;
                }

            }
            p{
                text-align: center;
                color: black;
            }
        }*/

    }