body{
    margin:0;
    font-family: Roboto, sans-serif;
    header{
        width: 100%;
        .flex{
            display: flex;
        }
        img{
            width: 8%;
            margin-right: 10%;
        }
        nav{
            height: 40px;
            width: 80%;
            margin-left: 7%;
            padding-top: 4%;
            a{
                text-decoration: none;
                color: black;
                margin-left: 1%;
                padding: 2%;
                font-size: 1.3em;

            }
            a:hover{
                background-color: rgb(218,84,85);
                color: white;
                
            }
            .icons{
                float: right;
                width: 10%;
                img{
                    width: 30%;
                    padding: 0;
                    margin: 0;
                    margin-left: 0.5%;
                }
        }

    }
    h1{
        color: white;
        padding-top: 16%;
        font-size: 4em;
        text-align: right;
        margin-right: 8%;
        border-bottom: 1px solid ;
        width: 40%;
        float: right;
    }

    #headerpic{
        background-image: url(../Assets/foodtruck.jpeg);
        min-height: 700px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

}